<section>
	<h2 data-bind="html:displayName"></h2>
	<div class="buttons pull-right">
		<a href="#" class="btn btn-refresh"><i class="icon-refresh"></i> Refresh</a>
	</div>
	<blockquote data-bind="html:description"></blockquote>
    <form class="form-inline"><input class="form-control list-filter" data-bind="value: searchTerm, valueUpdate:'keyup'" placeholder="Search Artists..."></form>
	<h3><span data-bind="html: artistCount"></span> Artists</h3>
	<div class="loader loader-64 loader-inline" data-bind="visible: !loaded()"></div>
	<ul class="artists" data-bind="foreach: artists">
		<div class="artist">
			<li data-bind="css: { altrow: $index()%2 }">
				<a data-bind="attr: {href: $parent.artistUrl(artistid)}">
					<img class="thumbnail" data-src="holder.js/100x50" data-bind="attr: {src: $parent.imageUrl(thumbnail)}" />
					<h4 data-bind="text: artist"></h4>
					<span class="label genre" data-bind="text: genre"></span>
				</a>
			</li>
		</div>
	</ul>
	<div style="clear:both;"></div>
	<div class="alert alert-success">
		For information about this template and for general documenation please visit <a href="http://www.durandaljs.com">the official site</a> and if you can't find 
		answers to your questions there, we hope you will join our <a href="https://groups.google.com/forum/?fromgroups#!forum/durandaljs">google group</a>.
	</div>
</section>