<div class="navbar navbar-fixed-bottom" data-bind="visible: isActive">
  <div class="container">
  	<!--<a class="navbar-brand" href="#"><i class="icon-play"></i></a>-->
  	<ul class="nav navbar-nav">
  		<li><a href="#"><i class="icon-play"></i> [<span data-bind="text: time"></span> / <span data-bind="text: duration"></span>] <span data-bind="text: title"></span> - <span data-bind="text: subtitle"></span></a></li>
  	</ul>


    <!--<a class="navbar-brand" href="#/nowplaying"><i class="icon-play"></i> [<span data-bind="text: time"></span> / <span data-bind="text: duration"></span>] <span data-bind="text: title"></span> - <span data-bind="text: subtitle"></span> </a>

    <div class="pull-right">
      <a href="#" class="brand pull-right" data-bind="click: showVolume"><i data-bind="css: {'icon-volume-off':volume() == 0 || muted(), 'icon-volume-down': volume() > 0 && volume() < 100, 'icon-volume-up': volume() == 100}"></i></a>
    </div>-->
    <div class="pull-right">
      <input type="text" data-bind="slider: volume, sliderOptions: {step: 1, snap: true, range: [0,100], theme: 'volume'}, sliderOptions2: {range: '0,100'}">
      <a class="navbar-brand" data-bind="clickToggle: muted" href="#"><i data-bind="style: {color: muted() ? 'red' : 'black'}" class="icon-volume-down"></i></a>
    </div>
  </div>
</div>
