<section>
	<h2 data-bind="text:displayName"></h2>
	<div class="loader loader-32 loader-inline" data-bind="visible: !seasonsLoaded()"></div>
	<div class="buttons pull-right">
		<a href="#" class="btn btn-success">Play Season <i class="icon-play"></i></a>
	</div>
	<div class="btn-group" data-bind="foreach: seasons, visible: seasonsLoaded">
		<a class="btn" data-bind="text: label, attr: {href: $parent.seasonUrl(season)}, css: {active: $parent.season() == season}"></a>
	</div>

	<!--<blockquote data-bind="text:description"></blockquote>-->

	<h3>Episodes</h3>
	<div class="loader loader-64 loader-inline" data-bind="visible: !episodesLoaded()"></div>
	<ul class="episodes" data-bind="foreach: episodes, visible: episodesLoaded">
		<li data-bind="css: { altrow: $index()%2 }">
	        <img class="thumbnail" data-bind="attr: {src: $parent.imageUrl(thumbnail)}" />
			<a data-bind="attr: {href: ''}">
				<h4 data-bind="text: label"></h4>
			</a>
			<div class="rating" data-bind="numericText: rating, precision: 1"></div>
			<div class="firstaired" data-bind="text: firstaired"></div>
			<div class="plot" data-bind="text: plot"></div>
	        <div class="runtime">
	        	<span data-bind="visible: resume.position > 0"><span data-bind="hhmm: resume.position"></span> / </span>
	        	<span data-bind="hhmm: runtime"></span> 
	        	<i class="icon-play" data-bind="visible: resume.position > 0, attr: {title: resume.position + '/' + resume.total}"></i>
	        </div>
			<!--<div data-bind="json: streamdetails"></div>-->
			
			<div class="buttons">
	        	<a class="btn btn-info"><i class="icon-info-sign"></i> Info</a>
	        	<a class="btn btn-inverse" data-bind="" href="#"><i class="icon-plus-sign"></i> Queue</a>
	        	<a class="btn btn-success" data-bind="" href="#">Play <i class="icon-play"></i></a>
	        	<a class="btn btn-primary" data-bind="visible: resume.position > 0">Resume <i class="icon-play-circle"></i></a>
	        </div>

		</li>
	</ul>

</section>
