<section>
	<h2 data-bind="html:displayName"></h2>
	<div class="buttons pull-right">
		<div class="btn-group">
			<a href="#" class="btn btn-std" data-bind="click: sortBy.name"><i class="icon-sort"></i> Name</a>
			<a href="#" class="btn btn-std" data-bind="click: sortBy.year">Year</a>
			<a href="#" class="btn btn-std" data-bind="click: sortBy.studio">Studio</a>
			<a href="#" class="btn btn-std" data-bind="click: sortBy.rating">Rating <i class="icon-sort"></i></a>
		</div>
		<a href="#" class="btn btn-refresh"><i class="icon-refresh"></i> Refresh</a>
	</div>

	<blockquote data-bind="html: description"></blockquote>
    <form class="form-inline"><input class="form-control list-filter" data-bind="value: searchTerm, valueUpdate:'keyup'" placeholder="Search Shows..."></form>
	<h3><span data-bind="html: showCount"></span> Shows</h3>
	<div class="loader loader-64 loader-inline" data-bind="visible: !loaded()"></div>
	<ul class="tvshows" data-bind="foreach: shows">
		<li data-bind="css: { altrow: $index()%2 }">
			<a data-bind="attr: {href: $parent.showUrl(tvshowid)}">
				<img class="thumbnail" data-bind="attr: {src: $parent.imageUrl(thumbnail)}" />
				<h4 data-bind="text: label"></h4>
				<div class="year" data-bind="text: year"></div>
				<div class="genre" data-bind="text: genre"></div>
				<div class="rating" data-bind="numericText: rating, precision: 1"></div>
				<div class="studio" data-bind="text: studio"></div>
				<div class="premiered" data-bind="text: premiered"></div>
			</a>
			
			<div class="buttons btn-group">
				<a class="btn btn-imdb" target="_blank" data-bind="attr: {href: $parent.tvdbUrl(imdbnumber)}" href="">TVDB</a>
				<a class="btn btn-showinfo">Info &amp; Seasons</a>
			</div>

		</li>
	</ul>
    <div data-bind="scroll: infiniteScrollEnabled, scrollOptions: { loadFunc: loadMore, offset: 200 }">Loading...</div>
</section>